.row {
  justify-content: center;
}
.div-book header button {
  height: 60px;
  width: 60px;
  border-radius: 4px;
  border: 1px solid #dcdce6;
  background: transparent;
  margin-left: 16px;
  transition: border-color 0.2s;
}

.button-delete{
  background-color: transparent;
    border: none;
}

.div-date{
  text-align: center;
}